/* reset styles
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del,
s,
strike {
  text-decoration: line-through;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
}
/* Common classes
-----------------------------------------------------------------------------*/
.clear {
  clear: both;
}
.clear-fix:after,
.container:after,
.container-fluid:after,
.row:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
.webkit-flicker-fix {
  -webkit-backface-visibility: hidden;
}
.webkit-border-radius-fix {
  -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff, #000000);
  -webkit-backface-visibility: hidden;
}
/* positioning
-----------------------------------------------------------------------------*/
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* sizing
-----------------------------------------------------------------------------*/
.full-width,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color] {
  box-sizing: border-box;
  width: 100%;
}
/* transitions
-----------------------------------------------------------------------------*/
.base-margin-bottom,
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p,
ul,
ol,
table,
blockquote,
.text-content .row {
  margin-bottom: 9px;
}
.base-margin-bottom:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.text-content .row:last-child {
  margin-bottom: 0;
}
body,
input,
button,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
body {
  line-height: 1.5;
}
a {
  color: #1e90ff;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
ul,
ol {
  padding-left: 20px;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
pre,
code {
  font-family: monospace;
}
.text-content {
  /* grid
-----------------------------------------------------------------------------*/
  /* table
-----------------------------------------------------------------------------*/
}
.text-content blockquote {
  border-left: 2px solid #ccc;
  background: #f2f2f2;
  padding: 10px;
}
.text-content q:before {
  content: '“';
}
.text-content q:after {
  content: '”';
}
.text-content thead th {
  border-bottom: 2px solid #ccc;
}
.text-content tbody td {
  border-bottom: 1px solid #ccc;
}
.text-content tbody tr:nth-child(even) td {
  background: #f2f2f2;
}
.text-content th,
.text-content td {
  padding: 10px;
}
/* button
-----------------------------------------------------------------------------*/
.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
.button input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.lte-ie-8 .button input {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
/* inputs
-----------------------------------------------------------------------------*/
input {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=range],
input[type=color] {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}
textarea {
  overflow: auto;
}
input[type=button],
input[type=reset],
input[type=submit],
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  height: 100%;
}
.no-flexbox body {
  min-height: 100%;
  height: 100%;
  display: block !important;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
.no-flexbox .page-wrapper,
.no-flexbox .footer {
  width: auto;
}
.page-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.lte-ie-11 .page-wrapper,
.lt-ie-11 .page-wrapper {
  min-height: 0;
}
.no-flexbox .page-wrapper {
  display: block !important;
  width: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.page-body {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-body.flex-none {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.wrapper {
  position: relative;
}
/*
@import url(structure-grid.less);
@import url(structure-grid-px.less);
@import url(structure-sidebars.less);
*/
/* responsive text align
-----------------------------------------------------------------------------*/
.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-fifth-xs-1, .col-fifth-sm-1, .col-fifth-md-1, .col-fifth-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-fifth-xs-2, .col-fifth-sm-2, .col-fifth-md-2, .col-fifth-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-fifth-xs-3, .col-fifth-sm-3, .col-fifth-md-3, .col-fifth-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-fifth-xs-4, .col-fifth-sm-4, .col-fifth-md-4, .col-fifth-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-fifth-xs-5, .col-fifth-sm-5, .col-fifth-md-5, .col-fifth-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-fifth-xs-6, .col-fifth-sm-6, .col-fifth-md-6, .col-fifth-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-fifth-xs-7, .col-fifth-sm-7, .col-fifth-md-7, .col-fifth-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-fifth-xs-8, .col-fifth-sm-8, .col-fifth-md-8, .col-fifth-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-fifth-xs-9, .col-fifth-sm-9, .col-fifth-md-9, .col-fifth-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-fifth-xs-10, .col-fifth-sm-10, .col-fifth-md-10, .col-fifth-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-fifth-xs-11, .col-fifth-sm-11, .col-fifth-md-11, .col-fifth-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-fifth-xs-12, .col-fifth-sm-12, .col-fifth-md-12, .col-fifth-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.col-xs-1, .col-fifth-xs-1, .col-xs-2, .col-fifth-xs-2, .col-xs-3, .col-fifth-xs-3, .col-xs-4, .col-fifth-xs-4, .col-xs-5, .col-fifth-xs-5, .col-xs-6, .col-fifth-xs-6, .col-xs-7, .col-fifth-xs-7, .col-xs-8, .col-fifth-xs-8, .col-xs-9, .col-fifth-xs-9, .col-xs-10, .col-fifth-xs-10, .col-xs-11, .col-fifth-xs-11, .col-xs-12, .col-fifth-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-fifth-xs-5 {
  width: 100%;
}
.col-fifth-xs-4 {
  width: 80%;
}
.col-fifth-xs-3 {
  width: 60%;
}
.col-fifth-xs-2 {
  width: 40%;
}
.col-fifth-xs-1 {
  width: 20%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-fifth-xs-pull-5 {
  right: 100%;
}
.col-fifth-xs-pull-4 {
  right: 80%;
}
.col-fifth-xs-pull-3 {
  right: 60%;
}
.col-fifth-xs-pull-2 {
  right: 40%;
}
.col-fifth-xs-pull-1 {
  right: 20%;
}
.col-fifth-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-fifth-xs-push-5 {
  left: 100%;
}
.col-fifth-xs-push-4 {
  left: 80%;
}
.col-fifth-xs-push-3 {
  left: 60%;
}
.col-fifth-xs-push-2 {
  left: 40%;
}
.col-fifth-xs-push-1 {
  left: 20%;
}
.col-fifth-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.col-fifth-xs-offset-5 {
  margin-left: 100%;
}
.col-fifth-xs-offset-4 {
  margin-left: 80%;
}
.col-fifth-xs-offset-3 {
  margin-left: 60%;
}
.col-fifth-xs-offset-2 {
  margin-left: 40%;
}
.col-fifth-xs-offset-1 {
  margin-left: 20%;
}
.col-fifth-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-fifth-sm-1, .col-sm-2, .col-fifth-sm-2, .col-sm-3, .col-fifth-sm-3, .col-sm-4, .col-fifth-sm-4, .col-sm-5, .col-fifth-sm-5, .col-sm-6, .col-fifth-sm-6, .col-sm-7, .col-fifth-sm-7, .col-sm-8, .col-fifth-sm-8, .col-sm-9, .col-fifth-sm-9, .col-sm-10, .col-fifth-sm-10, .col-sm-11, .col-fifth-sm-11, .col-sm-12, .col-fifth-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-fifth-sm-5 {
    width: 100%;
  }
  .col-fifth-sm-4 {
    width: 80%;
  }
  .col-fifth-sm-3 {
    width: 60%;
  }
  .col-fifth-sm-2 {
    width: 40%;
  }
  .col-fifth-sm-1 {
    width: 20%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-fifth-sm-pull-5 {
    right: 100%;
  }
  .col-fifth-sm-pull-4 {
    right: 80%;
  }
  .col-fifth-sm-pull-3 {
    right: 60%;
  }
  .col-fifth-sm-pull-2 {
    right: 40%;
  }
  .col-fifth-sm-pull-1 {
    right: 20%;
  }
  .col-fifth-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-fifth-sm-push-5 {
    left: 100%;
  }
  .col-fifth-sm-push-4 {
    left: 80%;
  }
  .col-fifth-sm-push-3 {
    left: 60%;
  }
  .col-fifth-sm-push-2 {
    left: 40%;
  }
  .col-fifth-sm-push-1 {
    left: 20%;
  }
  .col-fifth-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-fifth-sm-offset-5 {
    margin-left: 100%;
  }
  .col-fifth-sm-offset-4 {
    margin-left: 80%;
  }
  .col-fifth-sm-offset-3 {
    margin-left: 60%;
  }
  .col-fifth-sm-offset-2 {
    margin-left: 40%;
  }
  .col-fifth-sm-offset-1 {
    margin-left: 20%;
  }
  .col-fifth-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-fifth-md-1, .col-md-2, .col-fifth-md-2, .col-md-3, .col-fifth-md-3, .col-md-4, .col-fifth-md-4, .col-md-5, .col-fifth-md-5, .col-md-6, .col-fifth-md-6, .col-md-7, .col-fifth-md-7, .col-md-8, .col-fifth-md-8, .col-md-9, .col-fifth-md-9, .col-md-10, .col-fifth-md-10, .col-md-11, .col-fifth-md-11, .col-md-12, .col-fifth-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-fifth-md-5 {
    width: 100%;
  }
  .col-fifth-md-4 {
    width: 80%;
  }
  .col-fifth-md-3 {
    width: 60%;
  }
  .col-fifth-md-2 {
    width: 40%;
  }
  .col-fifth-md-1 {
    width: 20%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-fifth-md-pull-5 {
    right: 100%;
  }
  .col-fifth-md-pull-4 {
    right: 80%;
  }
  .col-fifth-md-pull-3 {
    right: 60%;
  }
  .col-fifth-md-pull-2 {
    right: 40%;
  }
  .col-fifth-md-pull-1 {
    right: 20%;
  }
  .col-fifth-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-fifth-md-push-5 {
    left: 100%;
  }
  .col-fifth-md-push-4 {
    left: 80%;
  }
  .col-fifth-md-push-3 {
    left: 60%;
  }
  .col-fifth-md-push-2 {
    left: 40%;
  }
  .col-fifth-md-push-1 {
    left: 20%;
  }
  .col-fifth-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-fifth-md-offset-5 {
    margin-left: 100%;
  }
  .col-fifth-md-offset-4 {
    margin-left: 80%;
  }
  .col-fifth-md-offset-3 {
    margin-left: 60%;
  }
  .col-fifth-md-offset-2 {
    margin-left: 40%;
  }
  .col-fifth-md-offset-1 {
    margin-left: 20%;
  }
  .col-fifth-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-fifth-lg-1, .col-lg-2, .col-fifth-lg-2, .col-lg-3, .col-fifth-lg-3, .col-lg-4, .col-fifth-lg-4, .col-lg-5, .col-fifth-lg-5, .col-lg-6, .col-fifth-lg-6, .col-lg-7, .col-fifth-lg-7, .col-lg-8, .col-fifth-lg-8, .col-lg-9, .col-fifth-lg-9, .col-lg-10, .col-fifth-lg-10, .col-lg-11, .col-fifth-lg-11, .col-lg-12, .col-fifth-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-fifth-lg-5 {
    width: 100%;
  }
  .col-fifth-lg-4 {
    width: 80%;
  }
  .col-fifth-lg-3 {
    width: 60%;
  }
  .col-fifth-lg-2 {
    width: 40%;
  }
  .col-fifth-lg-1 {
    width: 20%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-fifth-lg-pull-5 {
    right: 100%;
  }
  .col-fifth-lg-pull-4 {
    right: 80%;
  }
  .col-fifth-lg-pull-3 {
    right: 60%;
  }
  .col-fifth-lg-pull-2 {
    right: 40%;
  }
  .col-fifth-lg-pull-1 {
    right: 20%;
  }
  .col-fifth-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-fifth-lg-push-5 {
    left: 100%;
  }
  .col-fifth-lg-push-4 {
    left: 80%;
  }
  .col-fifth-lg-push-3 {
    left: 60%;
  }
  .col-fifth-lg-push-2 {
    left: 40%;
  }
  .col-fifth-lg-push-1 {
    left: 20%;
  }
  .col-fifth-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-fifth-lg-offset-5 {
    margin-left: 100%;
  }
  .col-fifth-lg-offset-4 {
    margin-left: 80%;
  }
  .col-fifth-lg-offset-3 {
    margin-left: 60%;
  }
  .col-fifth-lg-offset-2 {
    margin-left: 40%;
  }
  .col-fifth-lg-offset-1 {
    margin-left: 20%;
  }
  .col-fifth-lg-offset-0 {
    margin-left: 0%;
  }
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("fonts/MyriadProSemiBold.eot");
  src: url("fonts/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProSemiBold.woff") format("woff"), url("fonts/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  background: #000;
}
.rotate-effect {
  background: #000;
  overflow: hidden;
}
.page-wrapper {
  transition: .5s ease;
  opacity: 0;
}
.menu > a,
.menu > ul {
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
}
.menu.active > a,
.menu.active > ul {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
.rotate-cls {
  -webkit-transform: perspective(1000px) rotateY(-45deg);
          transform: perspective(1000px) rotateY(-45deg);
  transition: .4s ease;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
}
.header .logo a {
  color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 60px;
  display: inline-block;
  letter-spacing: 2px;
  text-decoration: none;
}
.header .right-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.header .right-btn a {
  text-decoration: none;
}
.header .right-btn .map {
  position: relative;
  right: 27px;
  top: 16px;
}
.header .right-btn .map .map-icon {
  fill: #ff6000;
  height: 24px;
  width: 29px;
}
.header .right-btn .phone {
  position: relative;
  right: 19px;
  top: 16px;
}
.header .right-btn .phone .phone-icon {
  fill: #ff6000;
  height: 23px;
  width: 21px;
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
  text-align: left;
  padding: 48px 30px;
  z-index: 100;
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu {
    overflow: auto;
    box-sizing: border-box;
  }
}
.menu .close-menu {
  display: inline-block;
  z-index: 1000;
  position: relative;
  left: -10px;
  width: 20px;
  height: 20px;
  background: url('../img/close.svg') no-repeat;
  background-size: cover;
}
.menu ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 52px;
}
.menu ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 44px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.menu a.logo {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 47px 0 13px;
  letter-spacing: 1px;
}
.menu .btn-default {
  margin: 0 0 16px;
  width: 164px;
  height: 36px;
  line-height: 32px;
}
.menu .btn-default.fill {
  background: #ff6000;
  color: #fff;
}
.menu-btn {
  height: 16px;
  width: 26px;
  position: fixed;
  top: 22px;
  left: 20px;
  z-index: 100000;
  opacity: 0;
}
.menu-btn span {
  background: #ff6000;
  height: 2px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  position: relative;
}
.menu-btn.active span:first-child {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: 7px;
}
.menu-btn.active span:nth-child(2) {
  opacity: 0;
}
.menu-btn.active span:last-child {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  top: -7px;
}
.gallery {
  height: 568px;
  overflow: hidden;
  margin-bottom: 0 !important;
}
.gallery .slick-slide:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}
.gallery .slick-list {
  height: 100%;
}
.gallery .slick-list .slick-track {
  height: 100%;
}
.gallery .slick-list .slick-track .slide {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.gallery .slick-list .slick-track .slide .slide-disc {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 0 20px 35px;
  z-index: 11;
}
.gallery .slick-list .slick-track .slide .slide-disc .slide-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 46px;
}
.gallery .slick-list .slick-track .slide .slide-disc .slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 12px 0 20px;
}
.gallery .slick-list .slick-track .slide .slide-disc .show-more {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff6000;
}
.gallery .slick-list .slick-track .slide img {
  height: 100%;
  position: absolute;
  max-width: inherit !important;
}
.gallery .slick-dots {
  width: inherit;
  bottom: 34px;
  right: 15px;
}
.gallery .slick-dots li {
  width: 9px;
  height: 9px;
  margin: 0 4px;
  border-radius: 50%;
  border: 2px solid #ff6000;
  box-sizing: border-box;
}
.gallery .slick-dots li.slick-active {
  background: #ff6000;
}
.gallery .slick-dots li button {
  display: none;
}
.down-btn {
  margin: 0 auto;
  display: block;
  width: 22px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 49px;
}
.food-wrap {
  text-align: center;
  background: #ebeae5;
  margin-top: -18px;
  padding: 52px 20px;
}
.food-wrap .title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 6px;
}
.food-wrap .disc {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.food-wrap .food-menu {
  margin-top: 33px;
}
.food-wrap .food-menu > div {
  width: 50%;
  min-height: 220px;
  display: inline-block;
  float: left;
}
.food-wrap .food-menu .list {
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 24px;
}
.food-wrap .food-menu .list ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 19px;
}
.food-wrap .food-menu .list ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.food-wrap .food-menu .list ul li a {
  color: #ff6000;
  text-decoration: none;
}
.food-wrap .food-menu .list .food-menu-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
  width: 107px;
  height: 28px;
  line-height: 25px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid #ff6000;
  border-radius: 15px;
}
.food-wrap .food-menu .img {
  overflow: hidden;
  position: relative;
}
.food-wrap .food-menu .img img {
  position: absolute;
  height: 123%;
  max-width: inherit !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 400px) {
  .food-wrap .food-menu .img img {
    -webkit-transform: translateX(-12%);
        -ms-transform: translateX(-12%);
            transform: translateX(-12%);
  }
}
.about-us {
  text-align: center;
  padding: 57px 20px 56px;
  background: #fff;
}
.about-us .title {
  margin-bottom: 6px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
.about-us .disc {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.slider-rest {
  margin-top: 32px;
}
.slider-rest img {
  cursor: pointer;
}
.slider-rest .slick-dots {
  bottom: -37px;
}
.slider-rest .slick-dots li {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid #ff6000;
  box-sizing: border-box;
}
.slider-rest .slick-dots li.slick-active {
  background: #ff6000;
}
.slider-rest .slick-dots li button {
  width: 100%;
  height: 100%;
  display: none;
}
.find-us {
  text-align: center;
  padding: 47px 20px 0;
  background: #ebeae5;
}
.find-us .title {
  margin-bottom: 6px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
.find-us .disc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.find-us .row {
  margin-left: -20px;
  margin-right: -20px;
}
.find-us .row #map {
  margin-top: 31px;
  box-sizing: border-box;
  height: 240px;
  border: 1px solid #d6d5d0;
}
.reserv {
  height: 330px;
  background: url("../img/reserve-back.jpg") no-repeat center center;
  background-size: cover;
  padding: 62px 20px 0;
  text-align: center;
  box-sizing: border-box;
}
.reserv .title {
  margin-bottom: 6px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  line-height: 36px;
}
.reserv .callback-btn {
  display: block;
  box-sizing: border-box;
  height: 52px;
  width: 272px;
  margin: 18px auto 23px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.reserv .callback-btn .wrap {
  border-radius: 25px;
  display: block;
  height: 100%;
  width: 100%;
  background: #ff6000;
  color: #fff;
  padding: 4px;
  box-sizing: border-box;
}
.reserv .callback-btn .callback-phone {
  height: 22px;
  width: 19px;
  fill: #fff;
  position: relative;
  top: 6px;
  left: -3px;
}
.reserv .work-time {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 18px;
}
.use-online {
  padding: 43px 20px 46px;
  text-align: center;
  background: #ebeae5;
}
.use-online .title {
  margin-bottom: 21px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
.use-online .online-btns {
  display: block;
  width: 262px;
  height: 44px;
  box-sizing: border-box;
  border: 2px solid #ff6000;
  border-radius: 25px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  margin: 0 auto 10px;
}
.partners {
  text-align: center;
  padding: 49px 20px 30px;
  background: #fff;
}
.partners .title {
  margin-bottom: 6px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
.partners .disc {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 33px;
}
.partners .row {
  margin-left: -20px;
  margin-right: -20px;
}
.partners .partn-slider {
  position: relative;
}
.partners .partn-slider:before,
.partners .partn-slider:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  z-index: 100;
}
.partners .partn-slider:before {
  left: 0;
  top: 0;
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
.partners .partn-slider:after {
  right: 0;
  top: 0;
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}
.partners .partn-slider .slick-slide {
  margin: 0 5px;
  min-height: 68px;
  position: relative;
}
.partners .partn-slider .slick-slide img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.apps {
  height: 184px;
  background: url("../img/apps-back.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding-top: 24px;
}
.apps .app-btn {
  background: #202020;
  display: block;
  text-align: center;
  width: 282px;
  height: 50px;
  margin: 0 auto 5px;
  color: #fff;
  text-decoration: none;
  font-family: "MyriadProRegular";
  font-size: 10px;
  border-radius: 5px;
  position: relative;
  padding-top: 8px;
  line-height: 14px;
  box-sizing: border-box;
}
.apps .app-btn img {
  display: block;
  margin: 0 auto;
}
.apps .app-btn span {
  font-size: 18px;
  font-family: "MyriadProSemiBold";
}
.apps .app-btn.apple:before {
  content: '';
  position: absolute;
  left: 23px;
  top: 10px;
  width: 22px;
  height: 25px;
  background: url("../img/apple-icon.svg") no-repeat center center;
  background-size: cover;
}
.apps .app-btn.google:before {
  content: '';
  position: absolute;
  left: 23px;
  top: 10px;
  width: 25px;
  height: 25px;
  background: url("../img/google-icon.png") no-repeat center center;
  background-size: cover;
}
.apps .app-btn.windows:before {
  content: '';
  position: absolute;
  left: 23px;
  top: 10px;
  width: 22px;
  height: 25px;
  background: url("../img/windows-icon.svg") no-repeat center center;
  background-size: cover;
}
.header-article {
  padding: 103px 20px 17px;
  position: relative;
  min-height: 152px;
  background: url("../img/about-back.jpg") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}
.header-article .article-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #fff;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}
p.bold {
  font-weight: 700;
}
p.medium {
  font-weight: 500;
}
p.title {
  font-size: 18px;
}
.about .article-body {
  background: #fff;
  padding: 23px 20px 35px;
}
.about .article-body .slider-rest {
  margin: 0 0 65px;
}
.about .article-body .slider-rest .slide img {
  width: 100%;
}
.reserve {
  text-align: center;
  padding: 46px 20px 29px;
  background: #ebeae5;
}
.reserve .title {
  margin-bottom: 6px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
.reserve .reserve-btn {
  display: block;
  box-sizing: border-box;
  height: 52px;
  width: 272px;
  margin: 22px auto 23px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.06);
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.reserve .reserve-btn .wrap {
  border-radius: 25px;
  display: block;
  height: 100%;
  width: 100%;
  background: #ff6000;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;
}
.wrap {
  padding: 0 20px;
}
.booking-form {
  background: #fff;
  padding: 50px 20px 25px;
}
.booking-form p {
  margin-bottom: 24px;
}
.booking-form form {
  position: relative;
}
.booking-form form input {
  width: 100% !important;
  height: 42px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.booking-form form button[type="submit"] {
  opacity: 0;
  height: 52px;
  width: 272px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.booking-form form .form-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 15px;
}
.booking-form form .arrow {
  position: relative;
}
.booking-form form .arrow:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 20px;
  width: 10px;
  height: 18px;
  z-index: 10;
  background: url("../img/select-arrow.svg") no-repeat;
  background-size: cover;
}
.booking-form form .reserve-btn {
  display: block;
  box-sizing: border-box;
  height: 52px;
  width: 272px;
  margin: 22px auto 23px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.06);
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.booking-form form .reserve-btn .wrap {
  border-radius: 25px;
  display: block;
  height: 100%;
  width: 100%;
  background: #ff6000;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;
}
.btn-default {
  display: block;
  width: 262px;
  height: 44px;
  box-sizing: border-box;
  border: 2px solid #ff6000;
  border-radius: 25px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  margin: 0 auto 10px;
  text-align: center;
}
.disc-body {
  padding: 24px 20px 48px;
  background: #fff;
}
.disc-body img {
  width: 100%;
  min-height: 211px;
}
.disc-body .disc {
  display: block;
  width: 100%;
  height: 210px;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}
.disc-body .disc:before {
  content: '';
  position: absolute;
  height: 50%;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}
.disc-body .disc .text {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 17px;
  bottom: 20px;
  padding: 0 20px;
  z-index: 11;
  text-transform: uppercase;
}
.detail-body {
  padding: 24px 20px 48px;
  background: #fff;
}
.detail-body img {
  width: 100%;
  margin-bottom: 30px;
}
.chief-body {
  padding: 24px 20px 48px;
  background: #fff;
}
.chief-body img {
  width: 100%;
  margin-bottom: 30px;
}
.contacts {
  background: #fff;
}
.contacts #map {
  height: 240px;
  width: 100%;
}
.contacts .road {
  margin-top: 24px;
}
.contacts .contacts-body {
  padding: 7px 20px 46px;
}
.contacts .contacts-body .title {
  letter-spacing: -1px;
}
.style-table {
  margin-bottom: 31px;
  width: 100%;
}
.style-table tr td {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 12px 0;
}
.style-table tr td:first-child {
  min-width: 65px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
.style-table tr td:last-child {
  padding-left: 10px;
}
.style-table tr:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.style-table .phone-link {
  font-weight: 700;
  color: #ff6000;
}
.style-table .mail-link {
  color: #ff6000;
}
.thanks-body {
  background: #ebeae5;
  padding: 16px 20px 51px;
}
.thanks-body .wrap {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 0 31px;
  margin-bottom: 22px;
}
.thanks-body .wrap img {
  margin-bottom: 15px;
}
.thanks-body .wrap .title {
  margin-bottom: 2px;
}
.thanks-body .style-table tr {
  border-color: #d3d2ce;
}
.thanks-body .style-table tr td {
  border-color: #d3d2ce;
}
.food-menu .header-article {
  padding: 103px 0 0 20px;
}
.food-menu .menu-list {
  overflow: hidden;
}
.food-menu .menu-list ul {
  padding: 0;
  white-space: nowrap;
}
.food-menu .menu-list ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin: 0 8px;
  padding: 10px 0 17px;
}
.food-menu .menu-list ul li:first-child {
  margin-left: 0;
}
.food-menu .menu-list ul li a {
  text-decoration: none;
  color: #ff6000;
  height: 100%;
  padding: 10px 0 17px;
}
.food-menu .menu-list ul li a.active {
  color: #fff;
  border-bottom: 2px solid #ff6000;
}
.food-menu .food-menu-body {
  padding: 44px 20px 8px;
  background: #fff;
}
.food-menu .food-menu-body .food-wrapper {
  margin-bottom: 47px;
}
.food-menu .food-menu-body .title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 6px;
}
.food-menu .food-menu-body img {
  width: 100%;
  border-top: 2px solid #ff6000;
}
.food-menu .food-menu-body .food-menu-table {
  margin-bottom: 31px;
  width: 100%;
}
.food-menu .food-menu-body .food-menu-table tr td {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 12px 0;
}
.food-menu .food-menu-body .food-menu-table tr td:last-child {
  min-width: 80px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  vertical-align: middle;
}
.food-menu .food-menu-body .food-menu-table tr td span {
  display: block;
  color: #ff6000;
}
.food-menu .food-menu-body .food-menu-table tr:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.food-menu .food-menu-body .food-menu-table .phone-link {
  font-weight: 700;
  color: #ff6000;
}
.food-menu .food-menu-body .food-menu-table .mail-link {
  color: #ff6000;
}
label.error {
  color: #ed1c24;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
input.error {
  border-bottom: 3px solid #ed1c24 !important;
}
@media (min-width: 480px) {
  .datetator_navigation {
    text-align: center;
  }
  .datetator_previous_month {
    margin: 0 auto;
    float: none !important;
    display: inline-block;
  }
  .datetator_month {
    float: none !important;
    display: inline-block;
    width: auto !important;
  }
  .datetator_next_month {
    float: none !important;
    display: inline-block;
  }
  .datetator_previous_year {
    float: none !important;
    display: inline-block;
  }
  .datetator_previous_year:before {
    content: '';
    clear: both;
    width: 20px;
    height: 20px;
    display: block;
  }
  .datetator_year {
    float: none !important;
    display: inline-block;
    width: auto !important;
  }
  .datetator_next_year {
    float: none !important;
    display: inline-block;
  }
}
.datetator_picker {
  margin-top: -3px;
  margin-left: 1px;
}
.ui-timepicker-wrapper {
  margin-top: -1px !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .page-body-wrap {
    min-height: 527px;
  }
}
.socials {
  background: #222222;
  height: 80px;
}
.socials .container-fluid > div {
  height: 80px;
  position: relative;
}
.socials a img {
  max-width: 19px;
  max-height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.socials a img.vk {
  max-width: 26px;
}
.copyright {
  text-align: center;
  background: #191919;
  padding: 33px 0;
}
.copyright * {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.copyright a {
  color: #ff6000;
}
.copyright .work-on {
  margin: 8px 0;
}
/*# sourceMappingURL=style.css.map */