<div class="mo-blockplace">
    <div class="mo-block">
        <div class="about">
            <div class="header-article">
                <div class="article-title">
                    О ресторане
                </div>
            </div>
            <div class="article-body">
                <div class="slider-rest">
                    <div class="slide">
                        <img src="img/about-slide.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/about-slide.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/about-slide.jpg" alt="">
                    </div>
                </div>
                <p class="bold">
                    Agnello - это не только сладкая жизнь, это уголок романтики большого города. Место, где Вы можете отдохнуть и расслабиться.
                </p>
                <p>Четыре уютных зала, прохладная тень летней терассы - поможет отвлечься от городской суеты.</p>
                <p>
                    В меню ресторана представлены блюда авторской, французской кухни.
                </p>
                <p>
                    Наши повара с любовью приготовят для Вас салаты и закуски, пасты и ризотто, супы и десерты, блюда из рыбы и мяса.
                </p>
                <p>
                    Сезонные новинки ресторана - это яркие впечатления на фестивале вкуса с разнообразием овощей, фруктов и ягод.
                </p>
                <p>Лучшие вина Италии, Франции, Чили, Аргентины и Грузии послужат прекрасным сопровождением делового обеда или романтического ужина.</p>
            </div>
            <div class="reserve">
                <div class="title">
                    Бронируйте столик онлайн и получите скидку 10%
                </div>
                <a href="#" class="reserve-btn">
                    <div class="wrap">
                        Бронировать столик
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
