<div class="mo-blockplace">
    <div class="mo-block">
        <div class="gallery">
            <div class="slide">
                <img src="img/slide2.jpg" alt="" height="568">
                <div class="slide-disc">
                    <div class="slide-title">Предложение от Agnello</div>
                    <div class="slide-text">Закажи блюдо от шефа и получи бокал вина в подарок</div>
                    <a href="#" class="show-more">
                	подробнее
                	</a>
                </div>
            </div>
            <div class="slide">
                <img src="img/slide2.jpg" alt="" height="568">
                <div class="slide-disc">
                    <div class="slide-title">Предложение от Agnello</div>
                    <div class="slide-text">Закажи блюдо от шефа и получи бокал вина в подарок</div>
                    <a href="#" class="show-more">
                	подробнее
                	</a>
                </div>
            </div>
            <div class="slide">
                <img src="img/slide2.jpg" alt="" height="568">
                <div class="slide-disc">
                    <div class="slide-title">Предложение от Agnello</div>
                    <div class="slide-text">Закажи блюдо от шефа и получи бокал вина в подарок</div>
                    <a href="#" class="show-more">
                	подробнее
                	</a>
                </div>
            </div>
        </div>
        <a href="#" class="down-btn js-go-bottom">
        	<img src="img/arrow.svg" alt="" width="22" height="13">
        </a>
    </div>
    <div class="mo-block">
        <div class="food-wrap">
            <div class="title">
                Мы подаем
            </div>
            <div class="disc">
                блюда, приготовленные исключительно из свежих продуктов
            </div>
            <div class="food-menu clear-fix">
                <div class="list">
                    <ul>
                        <li><a href="menu.html#food1">Горячее</a></li>
                        <li><a href="menu.html#food2">Гарниры</a></li>
                        <li><a href="menu.html#food3">Салаты</a></li>
                        <li><a href="menu.html#food4">Супы</a></li>
                        <li><a href="menu.html">Винная карта</a></li>
                    </ul>
                    <a href="menu.html" class="food-menu-btn">Меню</a>
                </div>
                <div class="img">
                    <img src="img/food.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="mo-block">
        <div class="about-us">
            <div class="title">
                О ресторане
            </div>
            <div class="disc">
                Agnello - это не только сладкая жизнь, это уголок романтики большого города. Место, где Вы можете отдохнуть и расслабиться.
            </div>
            <div class="slider-rest">
                <img src="img/rest.jpg" alt="">
                <img src="img/rest.jpg" alt="">
                <img src="img/rest.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="mo-block">
        <div class="find-us">
            <div class="title">
                Мы всегда рады вам по адресу
            </div>
            <div class="disc">
                г. Москва, Графский переулок, дом 14, строение 2, 4 этаж
            </div>
            <div class="row">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="mo-block">
        <div class="reserv">
            <div class="title">
                Забронируйте столик по телефону!
            </div>
            <a href="#" class="callback-btn">
                <div class="wrap">
                    <svg class="callback-phone">
                        <use xlink:href="#phone-icon" />
                    </svg>
                    +7 (499) 682 60 13
                </div>
            </a>
            <div class="work-time">
                с 11:00 до 23:00
                <br> без выходных
            </div>
        </div>
    </div>
    <div class="mo-block">
        <div class="use-online">
            <div class="title">
                Воспользуйтесь онлайн услугами
            </div>
            <a href="#" class="online-btns">
    			Зарезервируйте столик
    		</a>
            <a href="#" class="online-btns">
    			Закажите банкет
	    	</a>
        </div>
    </div>
    <div class="mo-block">
        <div class="partners">
            <div class="title">
                Наши партнеры
            </div>
            <div class="disc">
                Мы работаем только с надежными поставщиками продуктов и услуг
            </div>
            <div class="row">
                <div class="partn-slider">
                    
                    <a href="#">
                        <img src="img/partn-2.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/partn-1.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/partn-3.jpg" alt="">
                    </a>
                     <a href="#">
                        <img src="img/partn-2.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/partn-1.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/partn-3.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mo-block">
        <div class="apps">
            <a href="#" class="app-btn apple">
    			Download on the <br>
				<span>App Store</span>
    		</a>
            <a href="#" class="app-btn google">
    			Get it on <br>
    			<img src="img/google-name.svg" alt="" width="80">
    		</a>
            <a href="#" class="app-btn windows">
    			Available for <br>
				<span>Windows Phone	</span>
    		</a>
        </div>
    </div>
</div>
