<div class="mo-blockplace">
    <div class="mo-block">
        <div class="booking">
            <div class="header-article">
                <div class="article-title">
                    Онлайн бронирование
                </div>
            </div>
            <div class="booking-form wrap page-body-wrap">
                <p>
                    Чтобы забронировать столик, укажите ваше имя и телефон. Наш менеджер перезвонит вам в ближайшее время и уточнит дату и время бронирования столика
                </p>
                <form action="" id="booking-form">
                    <div class="form-label">Имя</div>
                    <input type="text" name="name">
                    <div class="form-label">Телефон</div>
                    <input type="text" name="phone">
                    <div class="form-label">Дата</div>
                    <div class="arrow"></div>
                    <input type="text" class="calendar" name="calendar">
                    <div class="form-label">Время</div>
                    <div class="arrow"></div>
                    <input type="text" class="time" name="time">
                    <a href="#" class="reserve-btn" onclick="document.getElementById('booking-form').submit();">
                        <div class="wrap">
                            Бронировать столик
                        </div>
                    </a>
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
