<div class="mo-blockplace">
    <div class="mo-block">
        <div class="about">
            <div class="header-article">
                <div class="article-title">
                    Шеф повар
                </div>
            </div>
            <div class="chief-body page-body-wrap">
                <img src="img/chief.jpg" alt="">
                <p>
                    Рэйчел Рэй начала карьеру в 20 лет, руководя закупками овощей и фруктов в одном из супермаркетов Нью-Йорка. Двигаясь вверх, Рэйчел перестала быть просто менеджером. Она стала консультантом по изысканным продуктам в магазинах премиум-класса.
                </p>
                <p>
                    По собственному желанию Рэй стала проводить мастер-классы прямо в торговом зале, предлагая покупателям свои варианты приготовления этих самых изысканных продуктов.
                </p>
                <p>
                    Доброжелательную и улыбчивую Рэйчел быстро заметили и пригласили работать в лучшем ресторане москвы Agnello.
                </p>
            </div>
            <div class="reserve">
                <div class="title">
                    Бронируйте столик онлайн и получите скидку 10%
                </div>
                <a href="#" class="reserve-btn">
                    <div class="wrap">
                        бронировать столик
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
