<div class="mo-blockplace">
    <div class="mo-block">
        <div class="contacts">
            <div class="header-article">
                <div class="article-title">
                    Контакты
                </div>
            </div>
                <div id="map"></div>
            <a href="#" class="road btn-default">
                 Проложить маршрут   
            </a>
            <div class="contacts-body page-body-wrap">
                <table class="style-table">
                    <tr>
                        <td>Адрес</td>
                        <td>г. Москва, Графский переулок, дом 14, строение 2, 4 этаж</td>
                    </tr>
                    <tr>
                        <td>Метро:</td>
                        <td>Алексеевская</td>
                    </tr>
                    <tr>
                        <td>Время работы:</td>
                        <td>пн.-пт. 9:00-21:00
                            <br> сб. 10:00-19:00
                            <br> вс. Выходной
                        </td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td><a href="#" class="phone-link">+7 (499) 682 60 13</a></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td><a href="#" class="mail-link">hello@agnello.com</a></td>
                    </tr>
                </table>
                <p class="medium title">
                    Как проехать
                </p>
                <p>
                    От станции метро Алексеевская пешком в сторону центра по проспекту Мира ( при выходе из метро повернуть налево) 7-10 минут.
                </p>
                <p>От станции метро Рижская на любом троллейбусе или автобусе № 714, маршрутное такси № 714, первая остановка. Пройти вперед до первого поворота направо.
                </p>
                <p>
                    Второе здание по правой стороне Графского переулка (см. фото).
                </p>
            </div>
            <div class="reserve">
                <div class="title">
                    Бронируйте столик онлайн и получите скидку 10%
                </div>
                <a href="#" class="reserve-btn">
                    <div class="wrap">
                        Бронировать столик
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
