<div class="mo-blockplace">
    <div class="mo-block">
        <div class="about">
            <div class="header-article">
                <div class="article-title">
                    Бокал вина к блюду от шефа
                </div>
            </div>
            <div class="detail-body page-body-wrap">
                <img src="img/disc-1.jpg" alt="">
                <p class="bold">
                    Дорогие друзья, с сегодняшнего для, мы начинаем акцию! Спешите попробовать блюда от нашего шеф-повара и получите бокал вина в подарок!
                </p>
                <p>
                    Акция действует до 31.12.2015
                </p>
            </div>
            <div class="reserve">
                <div class="title">
                    Остались вопросы? Мы с радостью на них ответим
                </div>
                <a href="#" class="reserve-btn">
                    <div class="wrap">
                        Позвонить
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
