<div class="mo-blockplace">
    <div class="mo-block">
        <div class="about">
            <div class="header-article">
                <div class="article-title">
                    Акции
                </div>
            </div>
            <div class="disc-body page-body-wrap">
                <a href="#" class="disc">
                    <img src="img/disc-1.jpg" alt="">    
                    <div class="text">
                        30% скидка на английский завтрак
                    </div>
                </a>

                <a href="#" class="disc">
                    <img src="img/disc-2.jpg" alt="">    
                    <div class="text">
                        Бокал вина к блюду
                        от шефа
                    </div>
                </a>

                <a href="#" class="show-more btn-default">
                    Показать еще
                </a>
            </div>
        </div>
    </div>
</div>
