<footer id="footer" class="wrapper footer">
    <div class="mo-blockplace">
        <div class="mo-block">
            <div class="socials">
                <div class="container-fluid">
                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/ig.svg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/gp.svg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/fb.svg" alt="">
                        </a>
                    </div>

                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/tw.svg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/ok.svg" alt="">
                        </a>
                    </div>

                    <div class="col-xs-2">
                        <a href="#">
                            <img src="img/icon/vk.svg" class="vk" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mo-block">
        	<div class="copyright">
        		<div>2014 © Agnello.</div>
        		<div>Все права защищены</div>
        		<!-- <div class="work-on">Работает на: <a href="#">MoAction</a></div> -->
        		<!-- <a href="#">Полная версия сайта</a> -->
        	</div>
        </div>
    </div>
</footer>
