<header id="header" class="wrapper header">
    <div class="mo-blockplace">
        <div class="mo-block">
            <div class="logo">
                <a href="index.html">Agnello</a>
            </div>
            <div class="right-btn">
                <a href="#" class="map">
                    <svg class="map-icon">
                        <use xlink:href="#map-icon" />
                    </svg>
                </a>
                <a href="#" class="phone">
                    <svg class="phone-icon">
                        <use xlink:href="#phone-icon" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
