<div class="mo-blockplace">
    <div class="mo-block">
        <div class="food-menu">
            <div class="header-article">
                <div class="article-title">
                    Меню
                </div>
                <div class="menu-list">
                    <ul>
                        <li><a href="#" class="active">Все меню</a></li>
                        <li><a href="#food1">Горячее</a></li>
                        <li><a href="#food2">Гарниры</a></li>
                        <li><a href="#food3">Салаты</a></li>
                        <li><a href="#food4">Супы</a></li>
                    </ul>
                </div>
            </div>
            <div class="food-menu-body page-body-wrap">
                <div class="food-wrapper" id="food1">
                    <div class="title">Горячее</div>
                    <img src="img/foodmenu1.jpg" alt="">
                    <table class="food-menu-table">
                        <tr>
                            <td>Цыплёнок Дьявола с соусом чимичурри
                                <span>100гр.</span>
                            </td>
                            <td>
                                480₽
                            </td>
                        </tr>
                        <tr>
                            <td>Запеченное филе бранзино с овощами и вялеными томатами
                                <span>100гр.</span>
                            </td>
                            <td>1 100₽</td>
                        </tr>
                        <tr>
                            <td>Куриные фрикадельки с грибным соусом и картофельным пюре
                                <span>100гр.</span>
                            </td>
                            <td>450₽</td>
                        </tr>
                        <tr>
                            <td>Филе трески с кремом из сельдерея
                                <span>100гр.</span></td>
                            <td>480₽</td>
                        </tr>
                        <tr>
                            <td>Каре ягненка с вялеными томатами
                                <span>100гр.</span>
                            </td>
                            <td>1 000₽</td>
                        </tr>
                    </table>
                </div>
                <div class="food-wrapper"  id="food2">
                    <div class="title">Гарниры</div>
                    <img src="img/foodmenu2.jpg" alt="">
                    <table class="food-menu-table">
                        <tr>
                            <td>Картофельное пюре
                                <span>100гр.</span>
                            </td>
                            <td>
                                300₽
                            </td>
                        </tr>
                        <tr>
                            <td>Картофель запеченный
                                <span>100гр.</span>
                            </td>
                            <td>300₽</td>
                        </tr>
                        <tr>
                            <td>Овощи гриль
                                <span>100гр.</span>
                            </td>
                            <td>400₽</td>
                        </tr>
                        <tr>
                            <td>Салат из помидоров с л.ком
                                <span>100гр.</span></td>
                            <td>550₽</td>
                        </tr>
                        <tr>
                            <td>Cалат-микс с овощами
                                <span>100гр.</span>
                            </td>
                            <td>300₽</td>
                        </tr>
                    </table>
                </div>
                <div class="food-wrapper"  id="food3">
                    <div class="title">Салаты</div>
                    <img src="img/foodmenu3.jpg" alt="">
                    <table class="food-menu-table">
                        <tr>
                            <td>Овощи, оливки и сыр фета
                                <span>100гр.</span>
                            </td>
                            <td>
                                440₽
                            </td>
                        </tr>
                        <tr>
                            <td>Ветчина из индейки, микс-салат, морковь, цукаты, медовая заправка
                                <span>100гр.</span>
                            </td>
                            <td>480₽</td>
                        </tr>
                        <tr>
                            <td>Куриная грудка Миланезе, микс-салат, йогуртовая заправка и тыквенное масло
                                <span>100гр.</span>
                            </td>
                            <td>500₽</td>
                        </tr>
                        <tr>
                            <td>Лосось на пару, отварной картофель, микс-салат и киноа
                                <span>100гр.</span></td>
                            <td>620₽</td>
                        </tr>
                        <tr>
                            <td>Микс салат с крабом и соусом манго
                                <span>100гр.</span>
                            </td>
                            <td>850₽</td>
                        </tr>
                    </table>
                </div>
                <div class="food-wrapper"  id="food4">
                    <div class="title">Супы</div>
                    <img src="img/foodmenu4.jpg" alt="">
                    <table class="food-menu-table">
                        <tr>
                            <td>Паппа аль Помодоро
                                <span>100гр.</span>
                            </td>
                            <td>
                                330₽
                            </td>
                        </tr>
                        <tr>
                            <td>Минестроне с овощами и киноа
                                <span>100гр.</span>
                            </td>
                            <td>350₽</td>
                        </tr>
                        <tr>
                            <td>Грибной суп-крем
                                <span>100гр.</span>
                            </td>
                            <td>350₽</td>
                        </tr>
                        <tr>
                            <td>Крем-суп из картофеля, с л.ком-пореем и кальмарами
                                <span>100гр.</span></td>
                            <td>450₽</td>
                        </tr>
                        <tr>
                            <td>Крем-суп из корня сельдерея с кусочками подкопченного л.сося
                                <span>100гр.</span>
                            </td>
                            <td>450₽</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="reserve">
                <div class="title">
                    Бронируйте столик онлайн и получите скидку 10%
                </div>
                <a href="#" class="reserve-btn">
                    <div class="wrap">
                        Бронировать столик
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
