<div class="mo-blockplace">
    <div class="mo-block">
        <div class="menu">
            <a href="#" class="logo">Agnello</a>
            <ul>
                <li><a href="#">Меню</a></li>
                <li><a href="#">События и акции</a></li>
                <li><a href="#">Шеф повар</a></li>
                <li><a href="#">О ресторане</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <a href="#" class="btn-default fill">Бронировать столик</a>
            <a href="#" class="btn-default">+7 (499) 682 60 13</a>
        </div>
        <a href="#" class="menu-btn js-show-menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>
