<div class="mo-blockplace">
    <div class="mo-block">
        <div class="thanks">
            <div class="header-article">
                <div class="article-title">
                    PageLIST
                </div>
            </div>
            <div class="thanks-body page-body-wrap">
                        <a style="display:block; font-size: 16px;" href="about.html">О ресторане</a>
                        <a style="display:block; font-size: 16px;" href="booking.html">Онлайн бронирование</a>
                        <a style="display:block; font-size: 16px;" href="chief.html">Шеф повар</a>
                        <a style="display:block; font-size: 16px;" href="contacts.html">Контакты</a>
                        <a style="display:block; font-size: 16px;" href="detail.html">Деталка</a>
                        <a style="display:block; font-size: 16px;" href="discounts.html">Акции</a>
                        <a style="display:block; font-size: 16px;" href="index.html">Главная</a>
                        <a style="display:block; font-size: 16px;" href="menu.html">Меню</a>
                        <a style="display:block; font-size: 16px;" href="thanks.html">Успешное бронирование</a>
            </div>
        </div>
    </div>
</div>

