<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="map-icon" viewBox="0 0 16.375 22.594">
		<path d="M8.187,22.595 C5.779,20.626 0.000,15.731 0.000,7.860 C0.000,3.520 3.665,-0.015 8.187,-0.015 C12.708,-0.015 16.373,3.520 16.373,7.863 C16.373,15.735 10.594,20.626 8.187,22.595 ZM8.187,1.757 C4.628,1.757 1.734,4.494 1.734,7.860 C1.734,14.009 5.738,18.173 8.187,20.304 C10.635,18.173 14.640,14.009 14.640,7.863 C14.640,4.496 11.745,1.757 8.187,1.757 ZM8.187,10.813 C6.857,10.813 5.779,9.711 5.779,8.352 C5.779,6.993 6.857,5.891 8.187,5.891 C9.516,5.891 10.594,6.993 10.594,8.352 C10.594,9.711 9.516,10.813 8.187,10.813 Z"/>
	</symbol>

	<symbol id="phone-icon" viewBox="0 0 19.25 20.656">
		<path d="M4.321,1.630 C4.398,1.630 4.474,1.668 4.523,1.741 L7.504,6.147 C7.588,6.256 7.585,6.416 7.491,6.518 L6.675,7.403 C5.912,8.230 6.134,9.545 6.830,10.781 C7.111,11.281 7.473,11.771 7.879,12.213 C8.287,12.653 8.739,13.045 9.201,13.349 C9.841,13.771 10.505,14.031 11.100,14.031 C11.565,14.031 11.988,13.872 12.325,13.507 L13.134,12.631 L13.137,12.631 C13.184,12.578 13.248,12.550 13.313,12.550 C13.364,12.550 13.416,12.567 13.461,12.602 L17.544,15.845 C17.711,15.907 17.563,16.258 17.563,16.258 C16.900,17.098 16.118,17.847 16.118,17.847 C15.398,18.627 14.523,19.021 13.510,19.021 C13.029,19.021 12.517,18.933 11.976,18.754 C10.353,18.214 8.461,16.851 6.353,14.637 C6.207,14.485 6.087,14.358 5.993,14.253 L5.906,14.159 C3.737,11.793 2.404,9.681 1.871,7.870 C1.320,5.993 1.613,4.436 2.711,3.251 L2.721,3.239 L4.145,1.708 C4.153,1.699 4.163,1.691 4.173,1.683 C4.217,1.647 4.269,1.630 4.321,1.630 M4.321,-0.007 C3.908,-0.007 3.502,0.138 3.178,0.401 L3.050,0.505 L2.981,0.584 L1.560,2.111 C0.496,3.262 -0.567,5.262 0.337,8.341 C0.952,10.430 2.432,12.763 4.737,15.278 L4.832,15.380 C4.915,15.474 5.047,15.614 5.207,15.781 C7.466,18.153 9.577,19.678 11.480,20.310 C12.180,20.542 12.862,20.658 13.510,20.658 C14.943,20.658 16.235,20.087 17.250,19.006 C17.422,18.839 18.160,18.108 18.809,17.286 L18.947,17.112 L19.033,16.907 C19.172,16.578 19.362,15.927 19.078,15.258 C18.946,14.944 18.726,14.679 18.451,14.493 L14.443,11.310 C14.114,11.052 13.716,10.913 13.313,10.913 C13.132,10.913 12.953,10.941 12.783,10.994 L12.446,10.994 L11.969,11.508 L11.160,12.384 C11.160,12.389 11.142,12.394 11.100,12.394 C10.910,12.394 10.540,12.284 10.070,11.974 C9.724,11.746 9.368,11.439 9.040,11.086 C8.719,10.736 8.432,10.346 8.219,9.966 C7.766,9.163 7.749,8.624 7.839,8.526 L8.656,7.641 C9.274,6.969 9.331,5.931 8.805,5.192 L5.840,0.810 C5.500,0.301 4.930,-0.007 4.321,-0.007 L4.321,-0.007 Z"/>
	</symbol>
</svg>


