<div class="mo-blockplace">
    <div class="mo-block">
        <div class="thanks">
            <div class="header-article">
                <div class="article-title">
                    Онлайн
                    бронирование
                </div>
            </div>
            <div class="thanks-body page-body-wrap">
                <div class="wrap">
                    <img src="img/mark.svg" alt="" width="62" height="62">
                    <p class="title medium">
                        Заказ оформлен
                    </p>
                    <p> Спасибо за заказ! <br>
                        В ближайшее время менеджер <br> 
                        перезвонит вам.
                    </p>
                </div>
                <table class="style-table">
                    <tr>
                        <td>Имя</td>
                        <td>Александра</td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>+7 (499) 682 60 13</td>
                    </tr>
                    <tr>
                        <td>Дата</td>
                        <td>24 сентября, Четверг</td>
                    </tr>
                    <tr>
                        <td>Время</td>
                        <td>18:00</td>
                    </tr>
                </table>
   
            </div>
        </div>
    </div>
</div>
