.socials {
    background: #222222;
    height: 80px;
    .container-fluid {
        >div {
            height: 80px;
            position: relative;
        }
    }
    a {
        // position: relative;
        img {
            max-width: 19px;
            max-height: 20px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            &.vk {
                max-width: 26px;
            }
        }
    }
}

.copyright {
    text-align: center;
    background: #191919;
    padding: 33px 0;
    * {
        color: #fff;
        font-family: @roboto;
        font-weight: @normal;
        font-size: 14px;
        line-height: 24px;
    }
    a {
        color: @themecolor;
    }
    .work-on {
        margin: 8px 0;
    }
}
