//Fonts
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("fonts/MyriadProSemiBold.eot");
    src: url("fonts/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"), url("fonts/MyriadProSemiBold.woff") format("woff"), url("fonts/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("fonts/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@myriadsemibold: "MyriadProSemiBold";
@myriadregular: "MyriadProRegular";
@firasans: 'Fira Sans',
sans-serif;
@roboto: 'Roboto',
sans-serif;

//Font Weight

@light: 300;
@normal: 400;
@medium: 500;
@bold: 700;

//Colors

@themecolor: #ff6000;
@textcolor: #fff;
@backcolor: #ebeae5;
//*******
body {
    background: #000;
}

.rotate-effect {
    background: #000;
    overflow: hidden;
}

.page-wrapper {
    transition: .5s ease;
    opacity: 0;
}

.menu>a,
.menu>ul {
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transform: translateX(-300px);
}

.menu.active>a,
.menu.active>ul {
    transform: translateX(0px);
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
}

.rotate-cls {
    transform: perspective(1000px) rotateY(-45deg);
    transition: .4s ease;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    box-sizing: border-box;
    z-index: 100;
    .logo {
        a {
            color: @textcolor;
            font-family: @firasans;
            font-weight: @normal;
            font-size: 18px;
            text-transform: uppercase;
            line-height: 60px;
            display: inline-block;
            letter-spacing: 2px;
            text-decoration:    none;
        }
    }
    .right-btn {
        position: absolute;
        right: 0;
        top: 0;
        a {
            text-decoration: none;
        }
        .map {
            position: relative;
            right: 27px;
            top: 16px;
            .map-icon {
                fill: @themecolor;
                height: 24px;
                width: 29px;
            }
        }
        .phone {
            position: relative;
            right: 19px;
            top: 16px;
            .phone-icon {
                fill: @themecolor;
                height: 23px;
                width: 21px;
            }
        }
    }
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    text-align: left;
    padding: 48px 30px;
    z-index: 100;
    display: none;

    @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) { 
            overflow: auto;
            box-sizing: border-box;
        }
    .close-menu {
        display: inline-block;
        z-index: 1000;
        position: relative;
        left: -10px;
        width: 20px;
        height: 20px;
        background: url('../img/close.svg') no-repeat;
        background-size: cover;
    }
    ul {
        padding: 0;
        list-style-type: none;
        margin-bottom: 52px;
        li {
            a {
                font-family: @roboto;
                font-size: 18px;
                font-weight: @normal;
                line-height: 44px;
            }
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        display: block;
        &.logo {
            font-family: @firasans;
            font-weight: @medium;
            font-size: 18px;
            margin: 47px 0 13px;
            letter-spacing: 1px;
        }
    }
    .btn-default {
        margin: 0 0 16px;
        width: 164px;
        height: 36px;
        line-height: 32px;
        &.fill {
            background: @themecolor;
            color: #fff;
        }
    }
}

.menu-btn {
    height: 16px;
    width: 26px;
    position: fixed;
    top: 22px;
    left: 20px;
    z-index: 100000;
    opacity: 0;
    span {
        background: @themecolor;
        height: 2px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
        position: relative;
    }
    &.active {
        span {
            &:first-child {
                transform: rotateZ(45deg);
                top: 7px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotateZ(-45deg);
                top: -7px;
            }
        }
    }
}
