//Slider
.gallery {
    height: 568px;
    overflow: hidden;
    margin-bottom: 0px !important;
    .slick-slide {
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10;
            background: -moz-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
            background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
            background: -ms-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        }
    }
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
            .slide {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                .slide-disc {
                    position: absolute;
                    // height: 100%;
                    bottom: 0px;
                    color: @textcolor;
                    padding: 0 20px 35px;
                    z-index: 11;
                    .slide-title {
                        font-family: @firasans;
                        font-weight: @light;
                        font-size: 38px;
                        line-height: 46px;
                    }
                    .slide-text {
                        font-family: @roboto;
                        font-weight: @normal;
                        font-size: 16px;
                        margin: 12px 0 20px;
                    }
                    .show-more {
                        font-family: @roboto;
                        font-weight: @medium;
                        font-size: 12px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: @themecolor;
                    }
                }
                img {
                    height: 100%;
                    position: absolute;
                    max-width: inherit !important;
                }
            }
        }
    }
    .slick-dots {
        width: inherit;
        bottom: 34px;
        right: 15px;
        li {
            width: 9px;
            height: 9px;
            margin: 0 4px;
            border-radius: 50%;
            border: 2px solid @themecolor;
            box-sizing: border-box;
            &.slick-active {
                background: @themecolor;
            }
            button {
                display: none;
            }
        }
    }
}

.down-btn {
    margin: 0 auto;
    display: block;
    width: 22px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 49px;
}

//Food 1-st Wrap
.food-wrap {
    text-align: center;
    background: @backcolor;
    margin-top: -18px;
    padding: 52px 20px;
    .title {
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 6px;
    }
    .disc {
        font-family: @roboto;
        font-weight: @medium;
        font-size: 14px;
        line-height: 24px;
    }
    .food-menu {
        margin-top: 33px;
        >div {
            width: 50%;
            min-height: 220px;
            display: inline-block;
            float: left;
        }
        .list {
            background: #fff;
            text-align: center;
            box-sizing: border-box;
            padding-top: 24px;
            ul {
                padding: 0;
                list-style-type: none;
                margin-bottom: 19px;
                li {
                    font-family: @roboto;
                    font-weight: @medium;
                    font-size: 12px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                    a {
                        color: @themecolor;
                        text-decoration: none;
                    }
                }
            }
            .food-menu-btn {
                font-family: @roboto;
                font-weight: @medium;
                color: #000;
                width: 107px;
                height: 28px;
                line-height: 25px;
                margin: 0 auto;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                box-sizing: border-box;
                border: 2px solid @themecolor;
                border-radius: 15px;
            }
        }
        .img {
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
                height: 123%;
                max-width: inherit !important;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                @media (max-width: 400px) {
                    transform: translateX(-12%);
                }
            }
        }
    }
}

//About US
.about-us {
    text-align: center;
    padding: 57px 20px 56px 20px;
    background: #fff;
    .title {
        margin-bottom: 6px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
    }
    .disc {
        font-family: @roboto;
        font-weight: @medium;
        font-size: 14px;
        line-height: 24px;
    }
}

.slider-rest {
    margin-top: 32px;
    img {
        cursor: pointer;
    }
    .slick-dots {
        bottom: -37px;
        li {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid @themecolor;
            box-sizing: border-box;
            &.slick-active {
                background: @themecolor;
            }
            button {
                width: 100%;
                height: 100%;
                display: none;
            }
        }
    }
}

//Map "Find Us"
.find-us {
    text-align: center;
    padding: 47px 20px 0px 20px;
    background: @backcolor;
    .title {
        margin-bottom: 6px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
    }
    .disc {
        font-family: @roboto;
        font-weight: @normal;
        font-size: 14px;
        line-height: 24px;
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
        #map {
            margin-top: 31px;
            box-sizing: border-box;
            height: 240px;
            border: 1px solid #d6d5d0;
        }
    }
}

//Reserv Table
.reserv {
    height: 330px;
    background: url('../img/reserve-back.jpg') no-repeat center center;
    background-size: cover;
    padding: 62px 20px 0;
    text-align: center;
    box-sizing: border-box;
    .title {
        margin-bottom: 6px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        color: #fff;
        line-height: 36px;
    }
    .callback-btn {
        display: block;
        box-sizing: border-box;
        height: 52px;
        width: 272px;
        margin: 18px auto 23px;
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.4);
        padding: 5px;
        text-decoration: none;
        font-family: @roboto;
        font-weight: @bold;
        font-size: 14px;
        .wrap {
            border-radius: 25px;
            display: block;
            height: 100%;
            width: 100%;
            background: @themecolor;
            color: #fff;
            padding: 4px;
            box-sizing: border-box;
        }
        .callback-phone {
            height: 22px;
            width: 19px;
            fill: #fff;
            position: relative;
            top: 6px;
            left: -3px;
        }
    }
    .work-time {
        color: #fff;
        font-size: 14px;
        font-family: @roboto;
        font-weight: @normal;
        line-height: 18px;
    }
}

//USE on-line Services
.use-online {
    padding: 43px 20px 46px 20px;
    text-align: center;
    background: @backcolor;
    .title {
        margin-bottom: 21px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
    }
    .online-btns {
        display: block;
        width: 262px;
        height: 44px;
        box-sizing: border-box;
        border: 2px solid @themecolor;
        border-radius: 25px;
        color: #000;
        font-family: @roboto;
        font-weight: @medium;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 40px;
        margin: 0 auto 10px;
    }
}

//Partners
.partners {
    text-align: center;
    padding: 49px 20px 30px 20px;
    background: #fff;
    .title {
        margin-bottom: 6px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
    }
    .disc {
        font-family: @roboto;
        font-weight: @medium;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 33px;
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .partn-slider {
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 75px;
            z-index: 100;
        }
        &:before {
            left: 0;
            top: 0;
            background: -moz-linear-gradient(to right, #fff, rgba(255, 255, 255, 0.4));
            background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.4));
            background: -ms-linear-gradient(to right, #fff, rgba(255, 255, 255, 0.4));
        }
        &:after {
            right: 0;
            top: 0;
            background: -moz-linear-gradient(to left, #fff, rgba(255, 255, 255, 0.4));
            background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.4));
            background: -ms-linear-gradient(to left, #fff, rgba(255, 255, 255, 0.4));
        }
        .slick-slide {
            margin: 0 5px;
            min-height: 68px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

//Download Apps
.apps {
    height: 184px;
    background: url('../img/apps-back.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 24px;
    .app-btn {
        background: #202020;
        display: block;
        text-align: center;
        width: 282px;
        height: 50px;
        margin: 0 auto 5px;
        color: #fff;
        text-decoration: none;
        font-family: @myriadregular;
        font-size: 10px;
        border-radius: 5px;
        position: relative;
        padding-top: 8px;
        line-height: 14px;
        box-sizing: border-box;
        img {
            display: block;
            margin: 0 auto;
        }
        span {
            font-size: 18px;
            font-family: @myriadsemibold;
        }
        &.apple {
            &:before {
                content: '';
                position: absolute;
                left: 23px;
                top: 10px;
                width: 22px;
                height: 25px;
                background: url('../img/apple-icon.svg') no-repeat center center;
                background-size: cover;
            }
        }
        &.google {
            &:before {
                content: '';
                position: absolute;
                left: 23px;
                top: 10px;
                width: 25px;
                height: 25px;
                background: url('../img/google-icon.png') no-repeat center center;
                background-size: cover;
            }
        }
        &.windows {
            &:before {
                content: '';
                position: absolute;
                left: 23px;
                top: 10px;
                width: 22px;
                height: 25px;
                background: url('../img/windows-icon.svg') no-repeat center center;
                background-size: cover;
            }
        }
    }
}

//***************************************************************************************
//
//
//                                      INSIDES PAGES
//
//
//***************************************************************************************
//About
.header-article {
    padding: 103px 20px 17px;
    position: relative;
    min-height: 152px;
    background: url('../img/about-back.jpg') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    .article-title {
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 32px;
        text-align: left;
        color: #fff;
    }
}

p {
    font-family: @roboto;
    font-weight: @normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
    &.bold {
        font-weight: @bold;
    }
    &.medium {
        font-weight: @medium;
    }
    &.title {
        font-size: 18px;
    }
}

.about {
    .article-body {
        background: #fff;
        padding: 23px 20px 35px;
        .slider-rest {
            margin: 0 0 65px;
            .slide {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.reserve {
    text-align: center;
    padding: 46px 20px 29px;
    background: @backcolor;
    .title {
        margin-bottom: 6px;
        font-family: @firasans;
        font-weight: @light;
        font-size: 32px;
        line-height: 36px;
    }
    .reserve-btn {
        display: block;
        box-sizing: border-box;
        height: 52px;
        width: 272px;
        margin: 22px auto 23px;
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.06);
        padding: 5px;
        text-decoration: none;
        font-family: @roboto;
        font-weight: @bold;
        font-size: 12px;
        text-transform: uppercase;
        .wrap {
            border-radius: 25px;
            display: block;
            height: 100%;
            width: 100%;
            background: @themecolor;
            color: #fff;
            padding: 12px;
            box-sizing: border-box;
        }
    }
}

.wrap {
    padding: 0 20px;
}

.booking-form {
    background: #fff;
    padding: 50px 20px 25px;
    p {
        margin-bottom: 24px;
    }
    form {
        position: relative;
        input {
            width: 100% !important;
            height: 42px;
            padding-left: 15px;
            font-family: @roboto;
            font-weight: @normal;
            font-size: 14px;
            border: 1px solid #cccccc;
            box-sizing: border-box;
        }
        button[type="submit"] {
            opacity: 0;
            height: 52px;
            width: 272px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .form-label {
            font-family: @roboto;
            font-weight: @normal;
            font-size: 14px;
            margin-bottom: 2px;
            margin-top: 15px;
        }
        .arrow {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 12px;
                right: 20px;
                width: 10px;
                height: 18px;
                z-index: 10;
                background: url('../img/select-arrow.svg') no-repeat;
                background-size: cover;
            }
        }
        .reserve-btn {
            display: block;
            box-sizing: border-box;
            height: 52px;
            width: 272px;
            margin: 22px auto 23px;
            border-radius: 25px;
            background: rgba(0, 0, 0, 0.06);
            padding: 5px;
            text-decoration: none;
            font-family: @roboto;
            font-weight: @bold;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            .wrap {
                border-radius: 25px;
                display: block;
                height: 100%;
                width: 100%;
                background: @themecolor;
                color: #fff;
                padding: 12px;
                box-sizing: border-box;
            }
        }
    }
}

//Discounts
.btn-default {
    display: block;
    width: 262px;
    height: 44px;
    box-sizing: border-box;
    border: 2px solid @themecolor;
    border-radius: 25px;
    color: #000;
    font-family: @roboto;
    font-weight: @medium;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
}

.disc-body {
    padding: 24px 20px 48px;
    background: #fff;
    img {
        width: 100%;
        min-height: 211px;
    }
    .disc {
        display: block;
        width: 100%;
        height: 210px;
        position: relative;
        overflow: hidden;
        margin-bottom: 24px;
        &:before {
            content: '';
            position: absolute;
            height: 50%;
            bottom: 0;
            width: 100%;
            z-index: 10;
            background: -moz-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
            background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
            background: -ms-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        }
        .text {
            position: absolute;
            font-family: @roboto;
            font-weight: @bold;
            color: #fff;
            font-size: 17px;
            bottom: 20px;
            padding: 0 20px;
            z-index: 11;
            text-transform: uppercase;
        }
    }
}

//Detail-page
.detail-body {
    padding: 24px 20px 48px;
    background: #fff;
    img {
        width: 100%;
        margin-bottom: 30px;
    }
}

//Chief
.chief-body {
    padding: 24px 20px 48px;
    background: #fff;
    img {
        width: 100%;
        margin-bottom: 30px;
    }
}

//Contacts
.contacts {
    background: #fff;
    #map {
        height: 240px;
        width: 100%;
    }
    .road {
        margin-top: 24px;
    }
    .contacts-body {
        padding: 7px 20px 46px;
        table {}
        .title {
            letter-spacing: -1px;
        }
    }
}

.style-table {
    margin-bottom: 31px;
    width: 100%;
    tr {
        td {
            border-bottom: 1px solid #e5e5e5;
            font-size: 14px;
            line-height: 24px;
            font-family: @roboto;
            font-weight: @normal;
            padding: 12px 0;
            &:first-child {
                min-width: 65px;
                font-family: @roboto;
                font-size: 14px;
                line-height: 18px;
                font-weight: @bold;
            }
            &:last-child {
                padding-left: 10px;
            }
        }
        &:last-child {
            border-bottom: 2px solid #e5e5e5;
        }
    }
    .phone-link {
        font-weight: @bold;
        color: @themecolor;
    }
    .mail-link {
        color: @themecolor;
    }
}

//Thanks Page
.thanks-body {
    background: @backcolor;
    padding: 16px 20px 51px;
    .wrap {
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 40px 0 31px;
        margin-bottom: 22px;
        img {
            margin-bottom: 15px;
        }
        .title {
            margin-bottom: 2px;
        }
    }
    .style-table {
        tr {
            border-color: #d3d2ce;
            td {
                border-color: #d3d2ce;
            }
        }
    }
}

//Menu Page
.food-menu {
    .header-article {
        padding: 103px 0px 0px 20px;
    }
    .menu-list {
        overflow: hidden;
        ul {
            padding: 0;
            white-space: nowrap;
            li {
                font-family: @roboto;
                font-weight: @normal;
                font-size: 14px;
                display: inline-block;
                margin: 0 8px;
                padding: 10px 0 17px;
                &:first-child {
                    margin-left: 0px;
                }
                a {
                    text-decoration: none;
                    color: @themecolor;
                    height: 100%;
                    padding: 10px 0 17px;
                    &.active {
                        color: #fff;
                        border-bottom: 2px solid @themecolor;
                    }
                }
            }
        }
    }
    .food-menu-body {
        padding: 44px 20px 8px;
        background: #fff;
        .food-wrapper {
            margin-bottom: 47px;
        }
        .title {
            font-family: @firasans;
            font-weight: @light;
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 6px;
        }
        img {
            width: 100%;
            border-top: 2px solid @themecolor;
        }
        .food-menu-table {
            margin-bottom: 31px;
            width: 100%;
            tr {
                td {
                    border-bottom: 1px solid #e5e5e5;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: @roboto;
                    font-weight: @normal;
                    padding: 12px 0;
                    &:first-child {}
                    &:last-child {
                        min-width: 80px;
                        padding-left: 10px;
                        font-family: @roboto;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: @bold;
                        text-align: right;
                        vertical-align: middle;
                    }
                    span {
                        display: block;
                        color: @themecolor;
                    }
                }
                &:last-child {
                    border-bottom: 2px solid #e5e5e5;
                }
            }
            .phone-link {
                font-weight: @bold;
                color: @themecolor;
            }
            .mail-link {
                color: @themecolor;
            }
        }
    }
}

//Validate labels styles
label.error {
    color: #ed1c24;
    font-family: @roboto;
    font-weight: @normal;
    font-size: 14px;
}

input.error {
    border-bottom: 3px solid #ed1c24 !important;
}

//DataPicker Styles FIXS
@media(min-width: 480px) {
    .datetator_navigation {
        text-align: center;
    }
    .datetator_previous_month {
        margin: 0 auto;
        float: none !important;
        display: inline-block;
    }
    .datetator_month {
        float: none !important;
        display: inline-block;
        width: auto !important;
    }
    .datetator_next_month {
        float: none !important;
        display: inline-block;
    }
    .datetator_previous_year {
        float: none !important;
        display: inline-block;
        &:before {
            content: '';
            clear: both;
            width: 20px;
            height: 20px;
            display: block;
        }
    }
    .datetator_year {
        float: none !important;
        display: inline-block;
        width: auto !important;
    }
    .datetator_next_year {
        float: none !important;
        display: inline-block;
    }
}

.datetator_picker {
    margin-top: -3px;
    margin-left: 1px;
}

.ui-timepicker-wrapper {
    margin-top: -1px !important;
}

//Ipad FIX
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .page-body-wrap {
        min-height: 527px;
    }
}
